# Node.js & TypeScript 常用忽略项
node_modules/
dist/
build/
.env
*.log
coverage/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.tsbuildinfo

# Jest 测试覆盖率
coverage/

# Mac 系统文件
.DS_Store

# 其他临时文件
*.swp
*.swo

/src/generated/prisma
